@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&family=PT+Sans&display=swap');

body {
    background-color: rgb(75, 39, 39);
    max-width: 1200px;
    margin: auto;
    font-family: 'PT Sans', sans-serif;
}
#splashbackground {
    background-color: rgb(243, 235, 235);
} 

header {
    background-color: rgb(243, 235, 235);
    width: 300px;
    position: fixed;
    top: 5%;
    left: 25px;
    font-family: 'DM Serif Display', serif;
    border: 1px rgb(243, 235, 235) solid;
    border-radius: 25px;
    text-align: center;
    height: 18%;
}

nav {
    width: 300px;
    position: fixed;
    top: 25%;
    left: 25px;
    font-family: 'DM Serif Display', serif;
    text-align: center;
    border: 3px rgb(243, 235, 235) solid;
    border-radius: 25px;
    color:rgb(243, 235, 235);
    font-size: 20px;
    height: 55%;
    overflow-y: scroll;
}

nav h4:hover {
    background-color:rgb(243, 235, 235);
    color:rgb(185, 45, 45)
}

nav a {
    color:rgb(243, 235, 235);
    text-decoration: none;
}

header img{
    width: 300px;
}

#splashpage {
    margin-top: 300px;
    text-align: center;
    padding-left: 50px;
    padding-right:50px;
}

#splashpage:hover {
    border: 1px rgb(116, 76, 76) solid;
    border-radius: 25px;
}
main {
    background-color: rgb(75, 39, 39);
    width: 85%;
    margin-left: 230px;
    top:34px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    position: relative;
}

#qtrak {
    height: 600px;
}

section {
    border: 3px rgb(243, 235, 235) solid;
    margin-top: 25px;
    padding: 20px;
    text-align: center;
    border-radius: 25px;
    background-color: rgb(243, 235, 235);
}

#footer {
    font-family: 'DM Serif Display', serif;
    text-align: center;
    border: 3px rgb(243, 235, 235) solid;
    border-radius: 25px;
    color:rgb(243, 235, 235);
    font-size: 20px;
}

section p {
    color: rgb(116, 76, 76);
}

section img {
    border: 1px rgb(75, 39, 39) solid;
    padding: 3px;
    border-radius: 25px;
    background-color: rgb(116, 76, 76);
}

section img:hover {
    background-color: rgb(185, 45, 45);
}

section video {
    border: 1px rgb(75, 39, 39) solid;
    padding: 3px;
    border-radius: 25px;
    background-color: rgb(75, 39, 39);
}

section video:hover {
    background-color: rgb(185, 45, 45);
}

footer p {
    font-family: 'DM Serif Display', serif;
    text-align: center;
}

footer {
    width: 300px;
    position: fixed;
    left: 25px;
    bottom: 25px;
    color:rgb(243, 235, 235);
    text-align: left;
    border:rgb(243, 235, 235) 3px solid;
    border-radius: 25px;
    height: 10%;
    top: 85%;
}